@import url('https://fonts.googleapis.com/css?family=Merriweather:700|Open+Sans');

/**
 * Basic styling
 */
body {
  max-width: $content-width;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  color: $text-color;
  background-color: #d0d1be;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
}

@include media-query($content-width) {
  body { margin: 20px; }
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

a.primary-btn {
  display: inline-block;
  margin: 10px auto;
  padding: 15px 20px;
  border: 5px solid $text-color;
  border-radius: 2px;
  background-color: $text-color;
  color: #dbdbdb;
  @extend %headliner-type;
  font-size: 20px;

  &:hover { color: #dbdbdb; }

  &.disabled {
    background-color: transparent;
    color: $text-color;
    cursor: not-allowed;
  }
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Video
 */
video {
  max-width: 100%;
  margin: 15px auto;
  vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  @extend %headliner-type;
  font-weight: $base-font-weight;
}

/**
 * Links
 */
a {
  color: #db2828;
  text-decoration: none;
  transition: text-decoration 0.35s ease-in;

  &:visited {
    //color: darken($brand-color, 15%);
  }

  &:hover {
    color: #966f6f;
    text-decoration: underline;
  }
}

/**
 * Blockquotes
 */
blockquote {
  color: #333;
  border-left: 4px solid #111;
  padding-left: $spacing-unit / 2;
  font-size: 18px;
  font-style: italic;

  & > :last-child { margin-bottom: 0; }
}

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border-radius: 3px;
  background-color: #e9aaaa;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  vertical-align: middle;

  path {
    fill: $grey-color;
  }
}
