/**
 * Site header
 */
.banner-image {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -7;
  width: 100%;
  height: 400px;
  background: url('/images/banner_f16.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.site-header {
  display: block;
  height: 350px;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title-container {
  display: block;
  width: 100%;
  padding-top: 20px;
  text-align: center;
}

.site-title {
  display: inline-block;
  padding: 20px;
  margin: 0;
  background-color: rgba(0,0,0,0.5);
}

.site-title > a {
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  color: white;

  &:hover {
    text-decoration: none;
  }
}

.site-nav {
  display: block;
  margin-top: 20px;
  width: 100%;
  //line-height: 200px;

  .menu-icon {
    display: none;
  }

  .page-link-container {
    margin: 0 20px;
    padding: 20px;
    background-color: rgba(0,0,0,0.6);
  }

  .page-link {
    color: white;
    font-size: 36px;
    //line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  .trigger {
    display: flex;
    justify-content: center;
  }

  @include media-query($on-palm) {
    margin-top: 0;

    .page-link-container {
      margin: 0;
      padding: 10px 20px;
    }

    .page-link {
      font-size: 30px;
    }
  }

}



/**
 * Site footer
 */
.site-footer {
  padding: $spacing-unit 0;
  background-color: #333;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.footer-social-media {
  color: $grey-color;
  &:hover {
    color: $grey-color;
    text-decoration: none;
  }
  &:not(:last-child) {
    margin-right: 15px;
  }
}

.contact-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  border-top: 1px solid #444;
  background-color: #222;
  color: #e3e3e3;
  padding: $spacing-unit 0;
}

.page-content p > img {
  display: block;
  max-width: 60%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  //display: flex;
  margin-left: 0;
  list-style: none;

  > li {
    //display: table;
    //width: 25%;
    margin: $spacing-unit 0;
  }

  h2 > a {
    color: #e3e3e3;
  }

  .post-col-1 {
    float: left;
    width: 400px;
  }

  .post-col-2 {
    margin-left: 400px;
  }

  .post-col-clear {
    clear: both;
  }


  @include media-query($on-palm) {
    display: inline;

    > li {
      //display: inline-block;
      //margin: $spacing-unit 0;
      //width: 100%;
    }

    .post-col-1 {
      float: none;
      width: auto;
    }

    .post-col-2 {
      margin-left: 0;
    }

    .post-col-clear {
      clear: none;
    }

    .post-image {
      display: inline-block;
      max-width: 300px;
      margin: $spacing-unit auto;
    }
  }
}

.post-meta {
  display: block;
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 1.5rem;
}

.post-image {
  display: inline-block;
  height: auto;
  width: 100%;
  max-width: 300px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  border: 1px solid #28b8db;
  //border: 1px solid #e3e3e3;
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  color: #e3e3e3;
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }

}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}
