/**
 * Site header
 */
.site-header {
  display: grid;
  align-items: center;
  grid-template-areas: "title nav logo";
  padding: 20px 0;

  font-family: 'Open Sans';
  font-size: 22px;
  letter-spacing: 1px;

  & a { color: black; }
  & > .site-title {
    grid-area: title;
    font-size: 32px;
  }
  & > .luc-logo { grid-area: logo; justify-self: end; }
  & > nav {
    grid-area: nav;
    justify-self: center;
    & > .page-link:not(:last-child) { margin-right: 10px; }
  }
}
@include media-query(500px) {
  .site-header {
    grid-template-areas: "logo title" "nav nav";
    align-items: start;
    & .luc-logo { justify-self: unset; }
  }
}

body div.home {

  .intro-message {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
    padding: 5vw;
    @extend %headliner-type;
    font-size: 5vw;
    white-space: nowrap;
    @extend %no-select;
    border: 0.4vw solid;
    border-radius: 0.2vw;

    & > .intro-image {
      z-index: -1;
      position: absolute;
      top: 5%; right: 20%; left: 20%; bottom: 5%;
      background: url('/images/performance-f16.png');
      background-size: 80%;
      background-repeat: no-repeat;
      background-position-x: 50%;
      background-position-y: 50%;
      filter: brightness(90%) grayscale(50%) contrast(60%) saturate(150%);
    }
  }

  .callouts {

      > .callout {
      display: grid;
      grid-template-columns: 2fr 3fr;
      grid-gap: 40px;
      margin-bottom: 60px;
      &:nth-of-type(odd) { grid-template-columns: 3fr 2fr; }
      &:nth-of-type(odd) .callout-image { order: 2; }
      &:nth-of-type(odd) .callout-content { order: 1; justify-self: start; }

      & > .callout-content {
        justify-self: end;
        & > .callout-title {
          display: flex;
          align-items: baseline;
          justify-content: space-between;
          padding-bottom: 5px;
          margin-bottom: 10px;
          border-bottom: 1px solid #777;
          @extend %headliner-type;
          font-size: 30px;
          letter-spacing: 1px;
          @extend %no-select;
          &::after {
            content: 'Fig. 1';
            @extend %paragraph-type;
            font-size: 12px;
          }
        }
      }
      &:nth-of-type(2) .callout-title::after { content: 'Fig. 2'; }
      &:nth-of-type(3) .callout-title::after { content: 'Fig. 3'; }
      &:nth-of-type(4) .callout-title::after { content: 'Fig. 4'; }
      &:nth-of-type(5) .callout-title::after { content: 'Fig. 5'; }

      & > .callout-image {
        max-height: 270px;
        overflow: hidden;
        box-shadow: 0 0 2px #333;
        img {
          min-width: 100%;
          min-height: 100%;
          //filter: contrast(110%) sepia(100%) brightness(90%)
        }
      }
    }

    @include media-query($on-palm) {
      & > .callout, & > .callout:nth-of-type(odd) {
        grid-template-columns: 1fr;
      }
      & > .callout:nth-of-type(odd) .callout-image { order: 1; }
      & > .callout:nth-of-type(odd) .callout-content { order: 2; }
    }
  }

}

.post-list {
  display: grid;
  grid-template-rows: min-content;
  grid-auto-rows: minmax(200px, auto);
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  justify-items: center;

  & > h1 {
    grid-column: 1 / -1;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #777;
    letter-spacing: 1px;
    & > a {
      color: $text-color;
      &:hover {
        text-decoration: none;
        cursor: pointer;
      }
    }
  }

  & > .post {
    display: flex;
    max-width: 300px;
    flex-direction: column;
    &:hover { color: #dbdbdb; }

    & img {
      max-height: 300px;
      object-fit: cover;
    }
    & .post-inner {
      display: flex;
      flex-direction: column;
      align-items: start;
      height: 200px;
      padding-left: 10px;
      padding-right: 10px;
      background-color: $text-color;
      color: #dbdbdb;
      & > h2 {
        font-size: 1.5em;
        border-bottom: none;
      }
      .post-meta {
        display: block;
        color: #c6c6c6;
        font-size: $small-font-size;
        & > span:not(:last-child)::after { content: ' –'; }
      }
    }
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: $spacing-unit * 2; 
  margin-bottom: $spacing-unit; 
}

.events {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}

@include media-query(700px) {
  .events { grid-template-columns: 1fr; }
}

/**
 * Event List
 */
.event-list {

  & h1 {
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #777;
    letter-spacing: 1px;
    @extend %no-select;
  }
  & .event-info {
    display: grid;
    grid-template-columns: 30px auto;
    grid-row-gap: 5px;
    margin-left: 5px;
    margin-bottom: 20px;
    & span.fa {
      display: block;
      justify-self: center;
      align-self: start;
      line-height: 23px;
    }
    label, label::after {
      color: #db2828;
      cursor: pointer;
      &:hover { text-decoration: underline; }
    }
    & label::after { content: ' more'; }
    & .event-row.desc { display: none; }
    & .read-more:checked ~ .event-row.desc { display: block; }
    & .read-more:checked ~ .event-row.excerpt { display: none; }
    & .read-more:checked ~ label::after { content: ' less'; }
  }
}

/**
 * Site footer
 */
.site-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: $spacing-unit 0;
  background-color: $text-color;
  color: $grey-color;
  font-size: 15px;
}

@include media-query(600px) {
  .site-footer {
    grid-template-columns: 1fr;
  }
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-social-media {
  color: $grey-color;
  &:hover {
    color: $grey-color;
    text-decoration: none;
  }
  &:not(:last-child) {
    margin-right: 15px;
  }
}

.contact-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}


/**
 * Page content
 */
.page-content {
  border-top: 1px solid #444;
  background-color: #222;
  color: #e3e3e3;
  padding: $spacing-unit 0;
}

.page-content p > img {
  display: block;
  max-width: 60%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.page-heading {
  font-size: 20px;
}

/**
 * Posts
 */
.post { 
  .post-header {
    margin-bottom: $spacing-unit;
    padding: 20px;
    background-color: $text-color;
    color: #dbdbdb;

    .post-title {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 42px;

      @include media-query($on-laptop) {
        font-size: 36px;
      }
    }

    .post-meta {
      margin-top: $spacing-unit;
      & > *:not(:last-child)::after {
        content: '–';
      }
    }
  }

  .post-content {
    margin-bottom: $spacing-unit;

    h2 {
      font-size: 32px;
      border-bottom: 1px solid #777;

      @include media-query($on-laptop) {
        font-size: 28px;
      }
    }

    h3 {
      font-size: 26px;

      @include media-query($on-laptop) {
        font-size: 22px;
      }
    }

    h4 {
      font-size: 20px;

      @include media-query($on-laptop) {
        font-size: 18px;
      }
    }
  }
}
