.member-list {
  list-style: none;
}

.member {
  min-height: 200px;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.member-image-container {
  width: 20%;
  float: left;
}

.member-image {
  height: 100%;
  width: auto;
}

.member-content {
  width: 75%;
  float: right;
}
