.member-list {
  list-style: none;
}

.member {
  min-height: 200px;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.member-image-container {
  width: 200px;
  float: left;
}

.member-image {
  height: 100%;
  width: auto;
}

.member-content {
  margin-left: 240px;
}

.member-clear {
  clear: both;
}
