---
layout: default
---

<div class="home">

  <div class="intro-message">
    <div class="intro-image"></div>
    <div>Loyola</div>
    <div>University</div>
    <div>Technology</div>
    <div>Ensemble</div>
  </div>

  <div class="events">
    <div class="event-list upcoming">
      {% assign upcoming_events = site.data.events | where_exp: 'event', 'event.date > site.time' | sort: 'date' | reverse %}
      <h1>Upcoming Events</h1>
      
      {% for event in upcoming_events %}
      <div class="event">
        <h2>{{ event.title }}</h2>
        <div class="event-info">
          <span class="fa fa-calendar"></span>
          <span class="event-row">{{ event.date | date: "%-d %B %Y @ %I:%M%P" }}</span>
          <span class="fa fa-map-marker"></span>
          <span class="event-row">{{ event.location }}</span>
          <span class="fa fa-info-circle"></span>
          <input type="checkbox" class="read-more" id="event-unread-{{ forloop.index }}" hidden>
          <span class="event-row excerpt" aria-hidden="true">{{ event.description | truncatewords: 25 | markdownify }}</span>
          <span class="event-row desc">{{ event.description | markdownify }}</span>
          <span></span><label for="event-unread-{{ forloop.index }}">Read</label>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="event-list past">
      {% assign past_events = site.data.events | where_exp: 'event', 'event.date < site.time' | sort: 'date' | reverse %}
      <h1>Past Events</h1>
      {% for event in past_events limit:2 %}
      <div class="event">
        <h2>{{ event.title }}</h2>
        <div class="event-info">
          <span class="fa fa-calendar"></span>
          <span class="event-row">{{ event.date | date: "%-d %B %Y @ %I:%M%P" }}</span>
          <span class="fa fa-map-marker"></span>
          <span class="event-row">{{ event.location }}</span>
          <span class="fa fa-info-circle"></span>
          <input type="checkbox" class="read-more" id="event-read-{{ forloop.index }}" hidden>
          <span class="event-row excerpt" aria-hidden="true">{{ event.description | truncatewords: 25 | markdownify }}</span>
          <span class="event-row desc">{{ event.description | markdownify }}</span>
          <span></span><label for="event-read-{{ forloop.index }}">Read</label>
        </div>
      </div>
      {% endfor %}
      <a href="{{ '/events' | absolute_url }}">See more past events</a>
    </div>
  </div>

  <div class="callouts">
    <div class="callout">
      <div class="callout-image">
        <img src="/images/study-day-s18.jpg">
      </div>
      <div class="callout-content">
        <span class="callout-title">What is LUTE?</span>
        <span class="callout-message">
          <p>
            We are a contemporary “laptop orchestra”, but our broader title
            encapsulates our music technology research and classic ensemble
            instrumentation. A significant area of focus for LUTE is outreach, accessibility, and inclusive music-making in shared spaces.
          </p>
          <p>
            LUTE will be, as of fall 2024, an official ensemble for credit at LUC, offered jointly by the Department of Fine and Performing Arts and the Department Computer Science under MUSC/COMP 112.
          </p>
        </span>
      </div>
    </div>
    <div class="callout">
      <div class="callout-image">
        <img src="/images/covers/in-c-app.png">
      </div>
      <div class="callout-content">
        <span class="callout-title">Our Tech</span>
        <span class="callout-message">
          <p>
            We design our own interactive apps for musical performance in an ensemble or play-along environment. So far, most of this development has been devoted to a play-along version of Terry Riley's <i>In C</i> (1964). New projects are emerging in our labs that leverage the user-friendly platform we have created for new musical experiences. We are most interested in developing systems for improvisation, group composition, "game-ified" music, and adaptive systems for maximum accessibility. Find our work on GitHub at <a href='https://github.com/loyola-university-tech-ensemble'>https://github.com/loyola-university-tech-ensemble</a>
          </p>
          <p>
            All of our software projects are available <a href="{{ 'projects' | absolute_url }}">here</a>.
        </span>
      </div>
    </div>
    <!-- <div class="callout">
      <div class="callout-image">
      <img src="/images/covers/in-c-progress-v11.png">
      </div>
      <div class="callout-content">
      <span class="callout-title">Follow Us</span>
      <span class="callout-message">
      Join our mailing list here:
      </span>
      </div>
      </div> -->
  </div>
  {{ content }}

  <div class="post-list">
    <h1><a href="{{ 'posts' | absolute_url }}">Recent Posts</a></h1>
    {% for post in site.categories.update limit: 3 %}
    <a class="post" href="{{ post.url | relative_url }}">
      <img src="{{ post.image | prepend: '/images/' }}">
      <div class="post-inner">
        <h2>{{ post.title | smartify }}</h2>
        <span class="post-meta">
          <span class="date">Posted on {{ post.date | date: "%b %-d, %Y" }}</span>
          {% if post.author %}
          <span class="author">{{ post.author }}</span>
          {% endif %}
        </span>
      </div>
    </a>
    {% endfor %}
  </div>

</div>
