---
layout: default
---

<div class="home">

  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
    {% if post.image %}
      <li>
        <img class="post-image" src="{{ post.image | prepend: "/images/" }}">

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>

        <span class="post-meta">
          Posted on {{ post.date | date: "%b %-d, %Y" }} — {{ post.author }}
        </span>

        <p>{{ post.content | truncate: 200 }}</p>

      </li>
      {% endif %}
    {% endfor %}
  </ul>

</div>
